#################
## WordPress
#################
.git-rewrite/

.elasticbeanstalk/

*.local.*
*.remote.*
*.base.*
*.backup.*
*.orig*
*.log

.htaccess
 
#These are to ignore media files which we again DON'T want in our GIT Repo.
wp-content/uploads/
wp-content/cache/
wp-content/backup-db/
wp-content/backups/
wp-content/upgrade/

local-config.php
sitemap.xml
sitemap.xml.gz


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
